.footer{

    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Dongle', sans-serif;
   
    font-size: larger;
   
}
.footersection {
    height: 300px ;
    background: #171717;
    color: #ffffff;
    font-size: 30px;
 
    
    padding-top: 20px;
    padding-bottom: 20px;
}