.Header {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Dongle', sans-serif;
   
    font-size: larger;
  }
  
  .Header .Header-logo {
    width: 60%;
    height: 150px;
    
  }
  
  .Header .Header-button{
    border: 2px solid grey;
    float: left;
    font-size: 1.5em;
  }
  
  .Header .LoginJoin{
    float: right;
    font-size: 40px;
    width: 150px;
    height: 70px;
    line-height: 17px;


  }