
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&display=swap');


.main{
    background-color: #f9f9f9;
    
}
.booknote{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto
    
}
.booknotelay{
    grid-gap: var(--Layout-gutter);
    grid-auto-flow: column;
    grid-template-columns: auto 0 minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
    display: grid;
    
  
}
.booknote-sidebar{
    --Layout-gutter: 24px;
    display: block;
    font-family: 'Dongle', sans-serif;
   
    font-size: 30px;
}
.container{

background-color: var(--color-canvas-default);
border-color: #e6e0e0;
border-radius: var(--primer-borderRadius-medium, 6px);
border-style: solid;
border-width: var(--primer-borderWidth-thin, 1px);
border-radius: 20px;


}
.booknote-mian{
    
    display: block;
    --Layout-sidebar-width: 296px;
    border-bottom: 1px solid var(--color-border-default);
    box-shadow: none;
}

.position-relative{

    position: relative !important;
}
.box-body{
    border-bottom-left-radius: var(--primer-borderRadius-medium, 6px);
    border-bottom-right-radius: var(--primer-borderRadius-medium, 6px);
    margin-bottom: calc(var(--primer-borderWidth-thin, 1px)*-1);
    
}
.avatar{
    border-radius: 50% !important;
}
.cardname{
    padding-top: var(--base-size-16, 16px) !important;
    padding-bottom: var(--base-size-16, 16px) !important;
    
    
}
.carduser{
    font-size: 24px;
    line-height: 1.25;
    font-family: 'Dongle', sans-serif;
   
    font-size: 40px;
}

.booknote-select{
    font-family: 'Dongle', sans-serif;
   
    font-size: larger;
    display: flex;
    justify-content: space-between
    
}
.tumb.img{
    max-width: 170px;
    height: auto;
    width: 100%;
    min-width: 100px;

}
.glassbox{
    margin-top: 18px;
   
    --Layout-sidebar-width: 296px;
    background-color: var(--color-canvas-default);
    border-color: #e6e0e0;
    border-radius: var(--primer-borderRadius-medium, 6px);
    border-style: solid;
    border-width: var(--primer-borderWidth-thin, 1px);
    border-radius: 20px;
    height: 150px;
    width: 100%;
    

}
.tumb{
    width: 200px;
}
.booklist1{
    display: flex;
    
}
.booknotelisttitle1{
    border-style: solid;
    border-width: var(--primer-borderWidth-thin, 1px);
    border-radius: 20px;
    border-color: #aaa7a7;
    margin-right: 30px;
    font-family: 'Dongle', sans-serif;
   
    font-size: larger;

}
.page-nav{
   height: 100px;

    text-align: center;
}